@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
.navbar{
    background-color: #2b2b2b;
    color: white;
    font-size: 300%;
    padding: 10px;
    font-family: 'Merriweather', serif;
}
.fa-icon{
    padding-right: 10px;
}